@page "/servers/{id:int}"
<h3>Edit Server</h3>
<br />
@if (Server is not null)
{
    <EditForm Model="Server" FormName="formEditServer" OnSubmit="SubmitEdit">
        <InputNumber @bind-Value="Server.ServerId" hidden></InputNumber>
        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label">Name</label>
            </div>
            <div class="col-6">
                <InputText @bind-Value="Server.Name" class="form-control"></InputText>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label">City</label>
            </div>
            <div class="col-6">
                <InputText @bind-Value="Server.City" class="form-control"></InputText>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label">Online</label>
            </div>
            <div class="col-6">
                <InputCheckbox @bind-Value="Server.IsOnline" class="form-check-input"></InputCheckbox>

            </div>
        </div>
        <br />
        <button class="btn btn-primary" type="submit">Update</button>
    </EditForm>
}
else
{
    <p>Not Found</p>
}

<br />
<a href="/servers" class="btn btn-primary">Go back</a>

@code {
    [Parameter]
    public int Id { get; set; }
    [SupplyParameterFromForm]
    private Server? Server { get; set; }
    protected override void OnParametersSet() => Server ??= ServersRepository.GetServerById(this.Id);
    private void SubmitEdit()
    {
        if (Server is not null)
            ServersRepository.UpdateServer(Server.ServerId, Server);
    }
}
