<p style="color:@(server.IsOnline?"green":"red")">
    @server.Name is in @server.City, and that is @(server.IsOnline ? "online" : "offline")
</p>

@code {
    private Server server = new() { Name = "Server 1", City = "Chicago" };
}
