<div class="container">

    <h4>Total Views: <span id="TotalViewersCounter"></span></h4>
    <h4>Total Users: <span id="TotalUsersCounter"></span></h4>

</div>
<script src="~/js/signalr.js"></script>
<script src="~/js/userCount.js"></script>