<div>
    <h4>Total Viewers: <span id="TotalViewersCounter"></span></h4>
    <h4>Total Users: <span id="TotalUsersCounter"></span></h4>
    
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/userCount.js"></script>